.isp-team {
	position: relative;

	@media (--query-md) {
		margin-top: 16px !important;
	}

	.isp-team__inner {
		border-radius: 16px;
		box-shadow: var(--shadow-1);
		background: var(--sand-3);
		overflow: hidden;
		position: relative;

		.isp-team__body__inner {
			padding: 0;
		}
	}

	.isp-team__columns {
		gap: 32px;
		padding-right: 64px;
	}

	.wp-block-columns,
	.wp-block-image {
		margin: 0;
	}

	.isp-team__header {

		.wp-block-heading {
			margin: 0 0 16px;
		}

		& a {
			font-size: 18px;
			font-weight: 600;
			line-height: 120%;
		}

		& p:last-of-type {
			margin: 0;
		}
	}

	.isp-team__toggle {
		display: flex;
		align-items: center;
		transition: var(--transition);
		margin-left: auto;

		.isp-team__toggle__text {
			display: grid;

			& span {
				grid-row: 1/1;
				text-align: right;
				grid-column: 1/1;
				transition: var(--transition);
			}
		}

		.isp-team__toggle--close {
			display: none;
		}

		.isp-team__toggle--open {
			display: block;
		}

		&.is_active {

			& svg {
				rotate: 45deg;
			}

			.isp-team__toggle--close {
				display: block;
			}

			.isp-team__toggle--open {
				display: none;
			}
		}

		> svg {
			margin-left: 8px;
			transition: var(--transition);
		}
	}

	.isp-team__header__content,
	.isp-team__body__inner {
		padding-left: 32px;
	}

	.isp-team__body {
		margin: 0 !important;
		display: none;

		.wp-block-heading {
			margin-bottom: 32px;
		}
	}

	.isp-team__body-content {
		border-top: solid 1px var(--sand-1);
		padding-top: 53px;
		padding-bottom: 24px;
		position: relative;

		&::after {
			content: "";
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 103px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 72.4%);
			pointer-events: none;
			z-index: 10;
		}

		> .isp-team__body__inner {
			max-height: 400px;
			padding-bottom: 50px;
		}

		.simplebar-content {
			padding-left: 32px;

			& *:first-child {
				margin-top: 0;
			}
		}
	}

	@media (--query-mx-sm) {

		.isp-team__inner {
			overflow: visible;
			border-bottom-right-radius: 64px;
		}

		.isp-team__columns {
			gap: 0;
			padding: 0;
		}

		.isp-team__image {
			position: absolute;
			right: 24px;
			top: -12px;
			z-index: 1;

			& img {
				border-radius: 8px;
				width: 100px;
				height: 116px;
				object-fit: cover;
			}
		}

		.isp-team__header__content {
			padding-left: 0;

			.wp-block-heading {
				margin: 0;
				border-radius: 16px 16px 0 0;
				padding: 22px 24px;
				padding-right: 150px;
				background: var(--sand-1);
				min-height: 88px;
				display: flex;
				align-items: center;
			}
		}

		.isp-team__header__text {
			padding: 24px 24px 0;

			.isp-team__body__inner {
				display: grid;
			}

			.wp-block-separator {
				order: 0;
				margin-top: 0;
			}

			& p {
				order: 2;
			}
		}

		.isp-team__button-column {
			padding: 8px 24px 24px;
			text-align: left;
		}

		.isp-team__toggle {
			margin: 0;
		}

		.isp-team__body-content {
			border: none;
			padding-top: 20px;
			border-radius: 0 0 64px 16px;
			overflow: hidden;

			> .isp-team__body__inner {
				max-height: none;
				overflow: auto;
				padding-bottom: 0;
			}

			&::after {
				display: none;
			}
		}

		.simplebar-content {
			padding-left: 24px !important;
			padding-right: 24px !important;
		}
	}
}

.block-editor-block-list__block {

	.isp-team__body {
		display: block;
	}
}
