body {
	background: #fff;
	scroll-behavior: smooth;

	/* &.home {
        background: var(--sand-3);
    } */
}

/*  Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bistre);
}

p {
	color: var(--bistre);
	font-size: var(--font-size-p);
	margin-bottom: 16px;
	line-height: 150%;

	&.has-small-font-size,
	&.has-medium-font-size {
		line-height: 140%;
	}
}

.hentry {
	margin-bottom: 0;
}

@media (--query-mx-md) {

	.isp-mobile-order--1 {
		order: 1;
	}

	.isp-mobile-order--2 {
		order: 2;
	}
}

.isp-desktop--no-background {

	@media (--query-md) {
		background: none !important;
	}
}
