.isp-search-header {
	position: relative;
	padding: 24px 24px 0;

	.isp-search-header__inner {
		max-width: 1280px;
		margin: 0 auto;
	}

	.wp-block-columns {
		position: relative;
		max-width: 820px;
		margin: 0 auto !important;
		z-index: 2;
	}
}

.isp-search__background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 32px;
	right: 0;
	width: 100%;
	max-width: 100% !important;
	z-index: 1;
	overflow: hidden;
}

.isp-search__background__container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.isp-search__background__inner {
	position: absolute;

	/* left: 0; */
	right: 0;
	top: 0;
	bottom: 0;
	border-bottom-right-radius: 160px;
	width: 100vw;

	&::after {
		content: "";
		display: block;
		width: 55px;
		height: 24px;
		background: url(../../images/multi-squiggle.svg) no-repeat center center;
		position: absolute;
		right: 0;
		transform: translateX(50%);
		bottom: 50%;
	}
}

.wp-block-search__inside-wrapper {
	padding: 0;
}

.wp-block-search__button-inside {
	background: #fff;
	padding: 10px;
	border: none;
	border-radius: 16px;
	margin: 0 !important;
	box-shadow: var(--shadow-1);

	@media (--query-md) {
		padding: 16px 24px;
	}
}

.wp-block-search__inside-wrapper {
	border: none;
	display: flex;

	& input {
		border: none;
		margin: 0;
		box-shadow: none;
		outline: none;
		height: auto;
		color: var(--bistre);
		font-family: var(--opensans);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;

		&:hover,
		&:focus {
			box-shadow: none !important;
			outline: none !important;
		}

		@media (--query-md) {
			font-size: 18px;
		}
	}
}

.isp-search__container {

	.wp-block-post {
		margin: 0;
	}
}

.wp-block-post-excerpt__more-link {
	display: none;
}

.wp-block-search__button {
	min-width: 180px;
}

.isp-faq__filters__buttons {

	@media (--query-mx-md) {
		display: none !important;
	}
}

.isp-faq__filters__select {
	width: 100%;
	padding: 16px 24px;
	height: auto !important;
	border: solid 1px var(--sand-1);
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	display: block;
	appearance: none;
	background:
		#fff url(../../images/select-arrow.svg) no-repeat right 8px
		center;
	outline: none !important;

	@media (--query-md) {
		display: none;
	}
}

.isp-search-results {
	max-width: 860px;
	margin: 50px auto;

	.breadcrumb {
		height: auto;
		line-height: 1;
		margin-bottom: 16px;
	}
}

.isp-search-result {
	text-decoration: none;
	display: block;
	padding: 24px 20px 0;
	transition: var(--transition) !important;
	border-radius: 16px;
	margin-top: 0 !important;

	&:hover,
	&:focus {
		box-shadow: var(--shadow-2);
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: var(--sand-1);
		margin-top: 24px;
	}
}

.isp-search-result__title {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin: 0 0 8px;
}

.isp-search-result__text {
	margin-top: 16px !important;

	& p {
		color: var(--bistre);
		font-family: var(--opensans);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
