:root {
	--shadow-0: 0 0 0 rgba(0, 0, 0, 0);
	--shadow-1:
		0 36px 80px rgba(0, 0, 0, 0.07),
		0 18.225px 34.875px rgba(0, 0, 0, 0.04725),
		0 7.2px 13px rgba(0, 0, 0, 0.035),
		0 1.575px 4.625px rgba(0, 0, 0, 0.02275);
	--shadow-2:
		0 50px 80px rgba(0, 0, 0, 0.07),
		0 36.3672px 53.9219px rgba(0, 0, 0, 0.0566562),
		0 25.3125px 34.875px rgba(0, 0, 0, 0.04725),
		0 16.6016px 21.6406px rgba(0, 0, 0, 0.0404687),
		0 10px 13px rgba(0, 0, 0, 0.035),
		0 5.27344px 7.73438px rgba(0, 0, 0, 0.0295312),
		0 2.1875px 4.625px rgba(0, 0, 0, 0.02275),
		0 0.507812px 2.45312px rgba(0, 0, 0, 0.0133437);

	--transition: all 0.5s ease;
}
