[class*="wp-block"].isp-callout-block {
	padding: 100px 16px;

	.wp-block-group__inner-container {
		max-width: 760px;
		margin: 0 auto;
	}

	+ h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		+ p {
			margin-top: 32px;
		}
	}

	&.isp-callout-block--lined {
		position: relative;
		padding-top: 140px;

		&::before {
			content: "";
			width: 1px;
			height: 140px;
			background: var(--calcite);
			position: absolute;
			left: 50%;
			top: -16px;
		}
	}

	@media (--query-md) {

		.wp-block-buttons {
			margin-top: 48px;
			justify-content: center;
		}
	}

	@media (--query-mx-md) {

		.wp-block-buttons {
			justify-content: flex-start;
		}
	}
}

[class*="wp-block"].isp-callout-block,
[class*="wp-block"].isp-callout-block.isp-callout-block--lined {

	@media (--query-mx-md) {
		text-align: left;
		padding: 48px 16px;

		&::before {
			display: none;
		}

		* {
			text-align: left;
		}
	}
}
