[class*="wp-block"].isp-story-card {
	--card-background: var(--sand-3);
	background: var(--card-background);
	border-radius: 16px;
	height: 100%;
	overflow: hidden;
	transition: var(--transition);
	display: flex;
	flex-direction: column;

	&:hover,
	&:focus-within {
		box-shadow: var(--shadow-1);
	}

	> a {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	& a:not(.button-tertiary):not(.wp-element-button) {
		text-decoration: none;
	}

	& [class*="wp-block"] {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.isp-story-card--details {
		margin: 0;
		flex: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	& figure,
	img {
		margin: 0;
		display: block;
	}

	& img {
		width: 100%;
		aspect-ratio: 1.34;
		max-height: 300px;
		object-fit: cover;
	}

	.isp-story-card--details {
		padding: 24px;
		flex: auto;
	}

	.isp-story-card--date {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
		width: 100%;

		&::after {
			content: "";
			width: auto;
			height: 2px;
			background: var(--sand-1);
			flex: auto;
			display: block;
		}

		* {
			background: var(--card-background);
			margin: 0;
			text-transform: uppercase;
			display: inline-block;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			letter-spacing: 1.2px;
			color: var(--ubc-grey-1);
		}
	}

	.isp-story-card__tag,
	.isp-story-card__tag a {
		color: var(--calcite) !important;
		text-decoration: none;
		font-weight: 700;

		&:hover,
		&:focus {
			color: var(--bistre) !important;
		}
	}

	.isp-story-card__title {
		margin-top: 16px;
		margin-bottom: 24px;
	}

	.wp-block-heading.button-tertiary,
	.isp-story-card--link,
	.isp-story-card__link {
		margin-top: auto;
	}
}

/*  isp-cta-card  */
.isp-cta-card {
	position: relative;

	.wp-block-group__inner-container {
		padding: 0;
	}

	.wp-block-cover {
		padding: 32px;
	}

	.wp-block-cover__inner-container {
		margin-bottom: 75px;
	}

	.wp-block-buttons {
		position: absolute;
		bottom: var(--scale);
		left: var(--scale);
		right: var(--scale);

		.wp-block-button {
			width: 100%;
			display: block;

			& a {
				width: 100%;
			}
		}
	}
}
