div [class*="wp-block"].isp-header--small {
	padding: 48px 24px 80px;

	.wp-block-heading {
		margin: 0;
	}

	.wp-block-separator {
		margin: 16px auto;
	}

	@media (--query-sm) {
		padding: 80px 24px 90px;
	}
}

.isp-header--small--content {
	max-width: 820px !important;
	margin: 0 auto !important;
	text-align: center;

	& p:last-of-type {
		margin: 0;
	}
}
