.wp-block-spacer.is-style-pull-up-background {
	margin-bottom: -32px;
	height: 0 !important;

	+ [class*="wp-block"] {
		position: relative;
		top: 32px;
		margin-bottom: 32px;
	}
}

.wp-block-spacer.is-style-pull-up-next {
	height: 0 !important;
}

.wp-block-spacer.is-style-pull-up-next + * {
	margin: 0 0 -32px;
	position: relative;
	top: -32px;
}
